@import url('https://fonts.googleapis.com/css2?family=Racing+Sans+One&family=Roboto+Mono&display=swap');

// colors
$clr-Dark: rgb(71, 71, 71);
$clr-VeryDark: rgb(50,50,50);
$clr-Light: rgb(245, 245, 245);
$clr-Contrast: rgb(216, 27, 27);

// fonts
$ff-Casual: 'Roboto Mono', monospace;
$ff-Headers: 'Racing Sans One', cursive;

// font sizes
$fs-200: 0.875rem;
$fs-300: 1rem;
$fs-400: 1.5rem;
$fs-500: 1.875rem;
$fs-600: 2.25rem;
$fs-700: 2.875rem;
$fs-800: 3.5rem;

