@import url('https://fonts.googleapis.com/css2?family=Racing+Sans+One&family=Roboto+Mono&display=swap');

// colors

$clrDark: rgb(71, 71, 71);
$clrLight: rgb(230, 230, 230);
$clrContrast: rgb(199, 23, 23);

// fonts

$ffCasual: 'Roboto Mono', monospace;
$ffHeaders:'Racing Sans One', cursive;
